.teanotes-floating-media {
	position: relative;
	width: 840px;
	margin: 0 auto;

	.im-dots {
		opacity: 0;
		transition: opacity .35s ease-in-out;
	}
}

.floating-elements {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	align-items: center;
	position: relative;

	.lid {
		img { max-width: 270px; }
		top: 90px;
		left: -10px;
		position: relative;
		z-index: 3;
	}

	.basket {
		img { max-width: 300px; }
		left: -40px;
		position: relative;
		z-index: 2;
	}

	.cup {
		img { max-width: 420px; }
		top: -110px;
		position: relative;
		z-index: 1;	
	}
}