.teanotes-interactive-media {
	position: relative;
	width: 840px;
	margin: 0 auto;
}

.im-graphic {
	margin: 0;
	position: relative;
	padding: 40px;
	img { max-width: 100%; max-height: 100%; }
}

.im-dots {
	position: absolute;
	top: 0;
}

.im-dot {
	position: absolute;
	.dot {
		// width: 24px;
		// height: 24px;
		// border-radius: 100px;
		// background-color: #404E59;
		cursor: pointer;
		position: relative;
		.circle	{
			width: 24px;
			height: 24px;
			border-radius: 100px;
			background-color: #404E59;
			position: absolute;
			.teanotes-icon {
				color: #fff;
				position: relative;
				top: 2px;
  			left: 3px;
			}
		}
		.ring {
			border: 3px solid #404E59;
			border-radius: 100px;
	    height: 30px;
	    width: 30px;
	    position: absolute;
	    animation: pulsate 1.5s ease-out;
	    animation-iteration-count: infinite; 
	    opacity: 0.0;
	    top: -3px;
  		left: -3px;
		}
	}
	&--meta {
		background-color: rgba(255, 255, 255, 0.90);
	  padding: 15px;
	  border-radius: 3px;
	  position: relative;
	  min-width: 280px;
	  top: 3px;
	  left: 12px;
		box-shadow: 0 3px 10px 0 rgba(0,0,0,0.15);
		display: none;

	  h4 {
	  	text-transform: uppercase;
	  	font-size: 12px;
	  	margin-bottom: 6px;
	  }
   p {
   		margin-bottom: 0;
   		font-size: 12px;
   }
	}
}

@-webkit-keyframes pulsate {
    0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
    50% {opacity: 1.0;}
    100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}